# Database Credentials Secret
apiVersion: v1
kind: Secret
metadata:
  name: database-credentials
  namespace: myproject-nexa
type: Opaque
data:
  host: # This will be base64 encoded value of the database host
  port: # This will be base64 encoded value of the database port
  dbname: # This will be base64 encoded value of the database name
  username: # This will be base64 encoded value of the database username
  password: # This will be base64 encoded value of the database password
---
# Application ConfigMap
apiVersion: v1
kind: ConfigMap
metadata:
  name: myproject-nexa-config
  namespace: myproject-nexa
data:
  SPRING_PROFILES_ACTIVE: "production"
  JAVA_OPTS: "-Xmx1g -Xms512m"
  SERVER_PORT: "8080"
  LOGGING_LEVEL_ROOT: "INFO"
  MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE: "health,info,metrics,prometheus"
  OTEL_EXPORTER_OTLP_ENDPOINT: "http://otel-collector:4317"
---
# Redis Configuration
apiVersion: v1
kind: ConfigMap
metadata:
  name: redis-config
  namespace: myproject-nexa
data:
  redis.conf: |
    maxmemory 256mb
    maxmemory-policy allkeys-lru